main {
  margin: none;
  padding: none;
}

body{
  font: 16px/1.7 Futura PT,book;
  background-color: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

a {
  color:rgb(255, 255, 255);
  /* Removing other details like underline and 'activated' purple on links */
  text-decoration: none;
}

/* Establishing Title Styles **/
header{
  font: 20px/1.7 Bebas Neue,regular;
  background: rgb(36, 36, 36);
  color:rgb(255, 255, 255);
  letter-spacing: 5px;
  border-bottom: rgb(37, 65, 214) 12px solid; 
  padding-top: 50px;
  min-height: 100px;
}

header #titleBox{
  float: left;
  text-align: center;
}

header #titleBox h1{
  text-align: center;
  margin: 0;
}

header .navigationBox a, header .colouredText{
  color: rgb(37, 65, 214);
  font-weight: bold;
}

header a:hover{
  color: rgba(37, 65, 214, 0.9);
  font-weight: bold;
}

header li{
  padding: 0 22px 0 0;
  float: left;
  display: inline;
}

header a{
  color:rgb(255, 255, 255);
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

header nav{
  margin-bottom: 28px;
  margin-top: 10px;
  float: left;
}

ul{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.images #homeImage{
  background:url('images/home_page.jpeg');
}

.images #musicImage{
  background:url('images/music_player.webp');
}

.images #linksImage{
  background:url('images/links.jpeg');
}

.images #tasksImage{
  background:url('images/tasklist.jpeg');
}

.images #timerImage{
  background:url('images/stopwatch.webp');
}

.images #homeImage, .images #musicImage, .images #linksImage, .images #tasksImage, .images #timerImage{
  color:rgb(255, 255, 255);
  text-align: center;
  min-height: 100px;  
  background-position: center;
  background-size: cover;
}



.images p{
  font-size: 16px;
}

.images h1{
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 10px;
}

.linkLarge{
  color:#ffffff;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  height: 40px;
  background:rgb(37, 65, 214);
  border: 0;
}
.linkSmall{
  background:rgb(37, 65, 214);
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

/* Content forming an array on page */
#contentArray{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#contentArray .box{
  display: inline-block;
  background:rgb(64, 64, 60);
  width: 15%;
  padding: 130px 5px;
  margin: 10px;
}

#contentArray .box h1{
  font-size: 14px;
  font-size: 4vw;
}

#contentArray .box:nth-of-type(n):hover{
  color:rgba(37, 65, 214, 0.9);
  font-weight: bold;
  text-align: center;
  min-height: 100px;
}

#contentArray a.box:nth-of-type(1):hover{
  background:url('images/tasklist.jpeg');
  background-size: cover;
  background-position: center;
}

#contentArray a.box:nth-of-type(2):hover{
  background:url('images/stopwatch.webp');
  background-size: cover;
  background-position: center;
}

#contentArray a.box:nth-of-type(3):hover{
  background:url('images/music_player.webp');
  background-size: cover;
  background-position: center;
}

#contentArray a.box:nth-of-type(4):hover{
  background:url('images/links.jpeg');
  background-size: cover;
  background-position: center;
}

.contentBox{
  /* ensuring content adujusts to window size */
  overflow: hidden;
  width: 75%;
  margin: auto; 
  padding-bottom: 5px;
}

footer{
  /* ensuring content adujusts to window size */
  overflow: hidden;
  width: 100%;
  margin: auto; 
  padding-bottom: 5px;
  background-color: rgb(36, 36, 36);
  color:rgb(255, 255, 255);
  padding:20px; 
  text-align: center;
  margin-top:20px;
}

@media(max-width: 810px){
  iframe,
  .images p,
  .images h1,
  header nav li,
  header nav,
  header #titleBox,
  article#contentColumn,
  aside#content_side,
  #inputForm form,
  #inputForm h1,
  #contentArray .box
  #content_profiles .box{
    text-align: center;
    float: none;
    width: 100%;
  } 
  
  header{
    padding-bottom:  18px;
  }

}