main {
  margin: none;
  padding: none;
}

body{
  font: 16px/1.7 Futura PT,book;
  background-color: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

a {
  color:rgb(255, 255, 255);
  /* Removing other details like underline and 'activated' purple on links */
  text-decoration: none;
}

h1 {
  color:rgb(255, 255, 255);
}

h2 {
  font: 40px/1.7 Bebas Neue,regular;
  color:rgb(255, 255, 255);
  letter-spacing: 5px;
  padding-left: 20px;
  margin-top: -1px;
  margin-bottom: -5px;
}

/* Establishing Title Styles for header */
header{
  font: 20px/1.7 Bebas Neue,regular;
  background: rgb(36, 36, 36);
  color:rgb(255, 255, 255);
  letter-spacing: 5px;
  border-bottom: rgb(37, 65, 214) 12px solid; 
  padding-top: 50px;
  min-height: 100px;
}

header #titleBox{
  float: left;
  text-align: center;
}

header #titleBox h1{
  text-align: center;
  margin: 0;
}

header .navigationBox a, header .colouredText{
  color: rgb(37, 65, 214);
  font-weight: bold;
}

header a:hover{
  color: rgba(37, 65, 214, 0.9);
  font-weight: bold;
}

header li{
  padding: 0 22px 0 0;
  float: left;
  display: inline;
}

header a{
  color:rgb(255, 255, 255);
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

header nav{
  margin-bottom: 28px;
  margin-top: 10px;
  float: left;
}

/* custom ul list styles */
ul{
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

ul#taskItems{
  float:left;
  margin: 20px;
}

/* aside content styling for new items generated through JS, stored on the side */
aside {
  float: center;
  border-radius: 15px;
  background:rgb(64, 64, 60);
  overflow: hidden;
  min-width: 23%;
  max-width: 100%;
  margin: 25px 125px 25px 108px; 
  padding: 15px;
}

form{
  float: left;
  border-radius: 15px;
  background:rgb(64, 64, 60);
  overflow: hidden;
  width: 23%;
  min-width: 190px;
  margin: 25px 25px 25px 125px; 
  padding: 15px;
}

label {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  resize: none;
}

/* custom darkmode content box input areas */
input[type=text], input[type=number], input[type=time], input[type=date] {
  border: none;
  margin-left: 20px; 
  padding: 12px 20px;
  width: 82%;
  min-width: 140px;
  height: 40px;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
  background: rgb(43, 43, 43);
  color:#ffffff;
  resize: none;
}

input[type=text]:focus {
  padding: 12px 20px;
  width: 82%;
  height: 100px;
}

button{
  background-color: rgba(37, 65, 214, 0.9);
  align-items: center;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 20px;
  padding: 12px 20px;
  width: 100px;
  height: 40px;
  border-radius: 4px;
}

/* Styling of important JS content areas, such as specialselectors for lists */
.specialSelector {
  position: relative;
}

/* custom SCROLL selector for reference type list which contains many options */
.specialSelector#referencesSelector{
  border: none;
  width: 193px;
  height: fixed;
  overflow-y: scroll;
}

.currentOption {
  background-color: rgb(43, 43, 43);
}

.specialSelector select {
  display: none; /*hiding first select element */
}

.specialSelector#referencesSelector select{
  display: none; /*hiding first select element */
} */

.referencesSelector {
  position: relative;
  overflow: visible;
  height: fixed;
}

.referencesSelector select {
  display: none;
  height: 40px;
}


/* designing the custon input box area size and functionality */
.allCurrentOptions div,.currentOption {
  color: #ffffff;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  width: 136px;
  height: 5%;
  margin-left: 20px; 
  padding: 6px 0px 6px 20px;
}

/* the selected input box changes opacity / colour when same as previous option */
.allCurrentOptions div, .matching {
  color: #ffffff;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  width: 136px;
  height: 5%;
  margin-left: 0px; 
  padding: 6px 0px 6px 20px;
}

.allCurrentOptions {
  background-color: rgb(43, 43, 43);
  left: 0;
  right: 0;
  width: 156px;
  margin-left: 20px; 
  position: absolute;
  z-index: 99;
  top: 100%;
}

/* styles the current hovered item that the user is on. supports the usability */
.allCurrentOptions div:hover, .matching {
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 0px;
  width: 136px;
} 

.hidden {
  display: none;
}

/* image backgrounds are different using ID's to the .images class */
.images #homeImage{
  background:url('images/home_page.jpeg');
}

.images #linksImage{
  background:url('images/links.jpeg');
}

.images #tasksImage{
  background:url('images/tasklist.jpeg');
}

.images #timerImage{
  background:url('images/stopwatch.webp');
}

/* all custom image ID's need the same properties */
.images #homeImage, .images #linksImage, .images #tasksImage, .images #timerImage{
  color:rgb(255, 255, 255);
  text-align: center;
  min-height: 100px;  
  background-position: center;
  background-size: cover;
}

.images p{
  font-size: 16px;
}

.images h1{
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 10px;
}







/* columnTitleKanban
contentItemInput
addItemKanban */


.contentKanban {
  float: left;
  border-radius: 15px;
  background:rgb(64, 64, 60);
  overflow: hidden;
  min-width: 23%;
  max-width: 100%;
  margin: 25px 125px 25px 108px; 
  padding: 15px;
  flex: left;
	display: flex;
}

.columnKanban:not(:last-child) {
	margin-right: 20px;
}

.columnTitleKanban {
	margin-bottom: 20px;
	user-select: none;
}

.behindKanban {
	height: 12px;
	transition: background 0.20s, height 0.20s;
}

.columnKanban {
	flex: 1;
}

.contentItemInput {
  box-sizing: border-box;
  background: rgb(43, 43, 43);
	padding: 12px 20px;
  width: 100%;
	border-radius: 4px;
	cursor: pointer;
}

.behindKanban--active {
  background: rgba(255, 255, 255, 0.4);
	height: 24px;
}

.addItemKanban {
  padding: 12px 0;
	width: 100%;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
	cursor: pointer;
}

























/* scroll side bar matches blue and grey theme */
body::-webkit-scrollbar {
  width: 7px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px darkgray;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(37, 65, 214, 0.6);
}

.linkLarge{
  border-radius: 5px;
  color:#ffffff;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  background:rgb(37, 65, 214);
  border: 0;
}
.linkSmall{
  background:rgb(37, 65, 214);
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

/* Content forming an array on page */
#contentArray{
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/* custom array scaling and size fitting the window flexible design requirement */
#contentArray .box{
  border-radius: 15px;
  display: inline-block;
  background:rgb(64, 64, 60);
  width: 23%;
  padding: 130px 5px;
  margin: 10px;
}

#contentArray .box h1{
  font-size: 14px;
  font-size: 4vw;
}

#contentArray .box:nth-of-type(n):hover{
  border-radius: 15px;
  color:rgba(37, 65, 214, 0.9);
  font-weight: bold;
  text-align: center;
  min-height: 100px;
}

#contentArray a.box:nth-of-type(1):hover{
  border-radius: 15px;
  background:url('images/tasklist.jpeg');
  background-size: cover;
  background-position: center;
}

#contentArray a.box:nth-of-type(2):hover{
  border-radius: 15px;
  background:url('images/stopwatch.webp');
  background-size: cover;
  background-position: center;
}

#contentArray a.box:nth-of-type(3):hover{
  border-radius: 15px;
  background:url('images/links.jpeg');
  background-size: cover;
  background-position: center;
}

.contentBox{
  /* ensuring content adujusts to window size */
  overflow: hidden;
  width: 75%;
  margin: auto; 
  padding-bottom: 5px;
}

footer{
  /* ensuring content adujusts to window size */
  overflow: hidden;
  width: 100%;
  margin: auto; 
  padding-bottom: 5px;
  background-color: rgb(36, 36, 36);
  color:rgb(255, 255, 255);
  padding:20px; 
  text-align: center;
  margin-top:20px;
}

#footerform{
  background:rgb(36, 36, 36);
  /* position: relative; */
  float: none;
  border-radius: 5px;
  background:none;
  overflow: 0px;
  width: 100%;
  margin: 0px; 
  padding: 0px;
} 

@media(max-width: 810px){
  iframe,
  .images p,
  .images h1,
  header nav li,
  header nav,
  header #titleBox,
  #contentArray .box
  .box{
    text-align: center;
    float: none;
    width: 100%;
  } 

  header{
    padding-bottom:  18px;
  }

}